{{>layout/header}}

<h1>modify posts</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="title">number</label>
                <input type="text" class="form-control" id="id" value="{{post.id}}" readonly>
            </div>
            <div class="form-group">
                <label for="title">title</label>
                <input type="text" class="form-control" id="title" value="{{post.title}}">
            </div>
            <div class="form-group">
                <label for="writer"> writer </label>
                <input type="text" class="form-control" id="writer" value="{{post.writer}}" readonly>
            </div>
            <div class="form-group">
                <label for="content"> content </label>
                <textarea class="form-control" id="content">{{post.content}}</textarea>
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">reject</a>
        <button type="button" class="btn btn-primary" id="btn-update">modify</button>
        <button type="button" class="btn btn-danger" id="btn-delete">delete</button>
    </div>
</div>

{{>layout/footer}}